body{
  line-height: 1.5;
}

.container{
  position: relative;
}

.container a {
  padding: 0.9rem 1rem;
  
  display: block;
}

header{
  padding: 10vh 0;
  
  height: 100vh;
  width: 100%;

  background-size: cover;
  background-position: center;

  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;

  text-align: center;
}

.header-title{
  margin: 1rem;
  padding: 1rem;
  
  max-width: 32ch;
  max-height: 195px;
}

article{
  margin: 1rem;
  padding: 0.5rem;

  max-width: 30ch;
}

.cta{
  padding: 1rem;
  
  width: max-content;
  height: min-content;
  
  text-align: center;
  
  border-radius: .5rem;
}

main{
  padding: 1rem;
  margin: 1rem;
}

h2{
  padding: 0.5rem;
}

footer{
  padding: 2rem;
}

.social-media{
  display: flex;
  justify-content: center; 
  flex-direction: row;
}

.fa-brands.fa-instagram, .fa-brands.fa-twitter {
  margin-right: 1rem;
}

.map{
  width: max-content;
  height:max-content;
}